@page "{productid}"
@model GameQuest.Pages.Admin.Products.EditModel
@{
}



<form asp-page-handler="SaveProduct" method="post">

    <div class="form-group">
        <input type="text" value="@Model.product.Name" name="name" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
        <textarea name="description" class="form-control" placeholder="description">@Model.product.Description</textarea>
    </div>

    <div class="form-group">
        <input type="text" name="imgurl" value="@Model.product.ImgUrl"  class="form-control" placeholder="ImgUrl">
    </div>

    <div class="form-group">
        <input type="number" name="price" value="@Model.product.Price" class="form-control" placeholder="Price">
    </div>

    <div class="form-group">
        <input type="number" name="sale" value="@Model.product.Sale" class="form-control" placeholder="Sale">
    </div>


    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" name="isVisible">
        <label class="form-check-label" for="exampleCheck1">Is visible</label>
    </div>

    <div class="form-group">
        <select asp-for="mainSelectedCategoryItemId" asp-items="@Model.MainCategoryItems">
        </select>
    </div>

    <div class="form-group">
        <select asp-for="subSelectedCategoryItemId" asp-items="@Model.SubCategoryItems">
        </select>
    </div>

    <input type="hidden" value="@Model.product.Id" name="productid" />

    <button type="submit" class="btn btn-primary">Save Product</button>

    <p style="color: red;">@ViewData["message"]</p>


</form>

